/* Orujhimaru - Homepage-Header */

.homepage-header-container {
  background-color: black;
  color: white;
  display: flex;
  padding: 5px;
  justify-content: space-around;
}
.banner-text {
  display: flex;
  margin-left: 10%;
  /* HOW TO FIX THIS PROBLEM. I WANT THE BANNER TEXT TO BE IN THE CENTER OF THE SCREEN
  AND I WANT THE LANGUAGE BUTTON TO BE ON FAR RIGHT WITH A RIGHT MARGIN. */
  gap: 20px;
}
.banner-text h3 {
  font-size: 14px;
}

.headline-dropdown {
  position: relative;
  margin-right: 9.4%;
}

.a {
  height: 500px;
  width: 100%;
  color: black;
}

#dropdown-icon {
  cursor: pointer;
}
.hl-dropdown-content a {
  background-color: antiquewhite;
  color: black;
  display: block;
  padding: 10px 5px;
}

#hl-dropdown-content {
  display: none;
  background-color: rgb(255, 255, 255);
}

.toggle-div {
  background-color: rgb(246, 246, 246);
  border: 1px solid black;
  color: black;
  display: flex !important;
  /* ASK QUESTION - WITHOUT THIS IT DIDNT WORK */
  position: absolute;
  /* absolute olunca responsive design da neden yer degistirmiyor ? 
    sticky ya da fixed kullanmak gerekmez mi?*/
  z-index: 2;
  flex-direction: column;
}

#search-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#user-input {
  padding: 6px;
  width: 400px;
  margin-top: 8px;
  font-size: 17px;
  border: 2px black solid;
}

#search-bar-results {
  display: none;
  /* IS THIS CORRECT */
  background-color: rgb(218, 218, 218);
  color: black;
  font-size: 16px;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  width: 400px;
  height: fit-content;
  overflow: hidden;
}

#search-bar-icon {
  display: flex;
  align-items: center;
}

.text-results {
  padding: 10px;
  min-height: 40px;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.search-bar-visible {
  display: flex !important;
  margin-top: 50px;
  position: fixed;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 9.4%;
  margin-top: 40px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

#right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

#middle-side {
  display: flex;
}

#top-nav-list li {
  display: inline;
  padding-left: 20px;
}

#hero {
  display: flex;
  margin: 0 9.4%;
  position: relative;
}

#hero-categories {
  border-right: 0.5px solid black;
  padding-top: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

#hero-carousell {
  margin-left: 45px;
  position: relative;
  min-height: 100%;
  flex: 2;
}

#background-div {
  margin-top: 40px;
  height: 100%;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image1 {
  max-height: 350px;
  width: 100%;
}

#small-buttons {
  display: flex;
  gap: 12px;
  width: fit-content;
  position: absolute;
  bottom: 0px;
  transform: translateX(100%);
}

.carousell-button {
  background-color: rgb(155, 155, 155);
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.active-btn {
  background-color: #db4444 !important;
  border: 1px solid rgb(255, 255, 255) !important;
  border-radius: 50% !important;
  width: 12px !important;
  height: 12px !important;
  /* neden overrite edemiyor ?
  selector specifictiy usundenmi ayni propertyleri tekrardan yazmam gerekti */
}
