/* Oruj - Homepage-Header */
.homepage-header-container {
  background-color: black;
  color: white;
  display: flex;
  padding: 5px;
  justify-content: space-around;
}
.banner-text {
  display: flex;
  margin-left: 10%;
  gap: 20px;
}
.banner-text h3 {
  font-size: 14px;
}

.headline-dropdown {
  position: relative;
  margin-right: 9.4%;
}

.a {
  height: 500px;
  width: 100%;
  color: black;
}

.hl-dropdown-content a {
  background-color: rgb(184, 184, 184);
  color: black;
  display: block;
  padding: 10px 5px;
}

.hl-dropdown-content {
  display: none;
  background-color: rgb(255, 255, 255);
}

.toggle-div {
  background-color: rgb(246, 246, 246);
  border: 1px solid black;
  color: black;
  display: flex !important;
  position: absolute;
  z-index: 3;
  flex-direction: column;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-input {
  padding: 6px;
  width: 400px;
  font-size: 17px;
  border: 2px black solid;
}

.search-icon {
  position: absolute;
  margin-left: 80px;
}

.search-icon-invisible {
  display: none !important;
}

.search-bar-results {
  display: none;
  background-color: rgb(218, 218, 218);
  color: black;
  font-size: 16px;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  width: 400px;
  height: fit-content;
  overflow: hidden;
}

.search-bar-icon {
  display: flex;
  align-items: center;
}

.text-results {
  padding: 10px;
  min-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-bar-visible {
  display: flex !important;
  margin-top: 41.5px;
  position: absolute;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  max-width: 1300px;
  position: relative;
  z-index: 2;
}

.right-side {
  flex: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.middle-side {
  margin-left: 50px;
  display: flex;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

#hamburger-bar {
  display: none;
}

.hamburger-bar-contents {
  background-color: antiquewhite;
  color: #000000;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 40px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  transform: translateX(-100%);
  z-index: 3;
}

.hamburger-list li {
  display: block;
}

.hamburger-bar-toggled {
  transform: translateX(0);
}

.top-nav-list li {
  display: inline;
  padding-left: 20px;
}

.hero {
  display: flex;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.hero-categories {
  border-right: 0.5px solid black;
  padding-top: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.hero-carousell {
  margin-left: 45px;
  margin-top: 40px;
  position: relative;
  flex: 2;
}

.background-div {
  height: 100%;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1 {
  object-fit: contain;
  max-height: 300px;
  min-height: 250px;
  width: 100%;
}

.small-buttons {
  display: flex;
  gap: 12px;
  width: fit-content;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 30px;
}

.carousell-button {
  background-color: rgb(155, 155, 155);
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.active-btn {
  background-color: #db4444;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

@media (max-width: 700px) {
  .hero-categories {
    border-right: 0px;
    padding: 10px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .hero {
    flex-direction: column;
    padding: 0;
  }
  .top-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .right-side {
    justify-content: center;
    align-self: center;
  }
  .hero-carousell {
    margin-left: 0;
  }

  .search-bar {
    width: 100%;
  }

  .search-bar-icon {
    min-width: 100%;
  }

  .user-input {
    width: 100%;
  }

  .right-side {
    width: 80vw;
  }
}

@media (max-width: 1350px) {
  .middle-side {
    display: none;
  }

  .top-bar {
    justify-content: space-between;
  }

  .right-side {
    flex: 2;
  }

  #hamburger-bar {
    display: inline;
  }
}
/* Oruj- Homepage Header */
